@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
}

.ul{
    list-style-type: none;
    width: 70%;
    margin: auto;
}
a{
    text-decoration: none;
}

span{
    font-size: 1.3em;
    color: red;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

body {
    width: 95%;
    margin: auto;
    background-color: #f1f1f1;
}

.header{
    min-height: 20vw;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    h1{
        text-align: center;
        color: green;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .1px;
    }
    p{
        margin: auto;
        color: blue;
        font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(0,0,0,0.3);

    }
}

.main{
    max-width: 80%;
    margin: auto;
    .section{
        margin: 1em;
        text-align: center;
        .h2{
            color: rgba(239, 182, 255, 0.845);
        }
        a{
            transition: .3s all ease-in-out;
        }
        a:hover{
            color: black;
            background-color: yellow;
        }
    }
    hr{
         border: none;
         height: 2px;
         background: #ccc;
         box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }
}

hr{
    border: 2px solid red;
}

.aside{
    margin: 2em;
    .article{
        margin: 1em;
         box-shadow: 0 2px 5px rgba(0,0,0,0.3);
         border-radius: .5em;
         padding: .5em;

        .h3{
            color: rgb(23, 4, 42);
            font-weight: 500;
             text-shadow: 0 2px 5px rgba(0,0,0,0.3);
        }
        p{
            color: rgb(193, 114, 17);
        }
        .ul{
                    margin: 1em;
                    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
                    padding: .8em;
                    border-radius: .5em;
                    width: fit-content;
                  .li{
                    padding: .5em;
                    color: rgba(88, 67, 67, 0.737);
                    /* list-style-type:circle; */
                  }
        }
        .pStrong{
            color: #333;
            text-shadow: 0 2px 5px rgba(0,0,0,0.3);
        }
    }

    fieldset{
         box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        border: none;
        legend{
            color: blue;
            text-shadow: 0 2px 5px rgba(0,0,0,0.3);
            text-transform: uppercase;
            font-weight: 600;
        }
            color: rgb(10, 10, 73);
            text-shadow: 0 2px 5px rgba(0,0,0,0.3);
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;


        border-radius: .5em;
        padding: 1em;

    }
    
}